{% liquid
case trmnl.plugin_settings.custom_fields_values.date_format
when "2025-01-31"
assign date_format = "%Y-%m-%d"
when "31/01/2025"
assign date_format = "%d/%m/%Y"
when "01/31/2025"
assign date_format = "%m/%d/%Y"
else
assign date_format = "%b %e %Y"
endcase

case trmnl.plugin_settings.custom_fields_values.time_format
when "12_hours"
assign time_format = "%l:%M %p"
when "24_hours_(no_leading_zeroes_08:45)"
assign time_format = "%k:%M"
else
assign time_format = "%H:%M"
endcase

case trmnl.plugin_settings.custom_fields_values.show_tags
when "no"
assign show_tags = false
else
assign show_tags = true
endcase

case trmnl.plugin_settings.custom_fields_values.show_notes
when "no"
assign show_notes = false
else
assign show_notes = true
endcase

case trmnl.plugin_settings.custom_fields_values.show_list_names
when "no"
assign show_list_names = false
else
assign show_list_names = true
endcase

case trmnl.plugin_settings.custom_fields_values.show_dates_and_times
when "no"
assign show_dates_and_times = false
else
assign show_dates_and_times = true
endcase
%}

{% unless trmnl.plugin_settings.custom_fields_values.date_day_name == "no" %}
{% capture date_format %}
{{ date_format | prepend: "%a, " }}
{% endcapture %}
{% endunless %}

{% liquid
if overdue == empty
  assign overdue_portrait = "portrait:hidden"
  assign upcoming_portrait = ""
else
  assign overdue_portrait = ""
  assign upcoming_portrait = "portrait:hidden"
endif
%}

<div class="layout layout--row layout--top">
    <div class="columns">
        <div class="column {{ overdue_portrait }}" data-list-limit="true" data-list-hidden-count="true">
            <div class="bg-gray-2 p--1 text--center" style="border-radius: 8px;">
                <span class="title text--white" style="text-shadow: 2px 0 #000, -2px 0 #000, 0 2px #000, 0 -2px #000, 1px 1px #000, -1px -1px #000, 1px -1px #000, -1px 1px #000;">
                    Overdue
                </span>
            </div>
            {% if overdue == empty %}
            <div class="flex flex--col h--28 lg:h--80 gap--space-between">
                <span class="title lg:title--large">Perfection</span>
                <span class="description lg:title--small">No overdue reminders!</span>
                <img class="image hidden lg:block" src="https://github.com/sdjmchattie/trmnl-apple-reminders/blob/main/images/zen-150-x.png?raw=true">
            </div>
            {% else %}
            {% for item in overdue %}
            {% liquid
            case item.p
            when "Low"
            assign importance = "! "
            when "Medium"
            assign importance = "!! "
            when "High"
            assign importance = "!!! "
            else
            assign importance = ""
            endcase
            %}
            <div class="item">
            <div class="meta">
                {% if item.f %}
                <span class="index">
                <img class="image" src="https://github.com/sdjmchattie/trmnl-apple-reminders/blob/main/images/icons8-flag-10.png?raw=true">
                </span>
                {% endif %}
            </div>
            <div class="content">
                <span class="title title--small" data-clamp="1">{{ item.n | prepend: importance }}</span>
                <div class="flex gap--small">
                    {% if show_dates_and_times %}
                    <span class="label label--small label--underline">{{ item.d | l_date: date_format, trmnl.user.locale }}</span>
                    {% endif %}
                    {% if show_list_names %}
                    <span class="label label--small label--underline">{{ item.l }}</span>
                    {% endif %}
                </div>
                <span class="description" data-clamp="2" style="word-break: normal;">
                    {% if show_notes %}
                    {{ item.o }}
                    {% endif %}
                </span>
                {% if show_tags and item.t != empty %}
                <div class="flex gap--xsmall mt--1">
                    {% assign tags = item.t | split: ' ' %}
                    {% for tag in tags %}
                    <div class="label label--small label--inverted">#{{ tag }}</div>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
            {% endfor %}
            {% endif %}
        </div>
        <div class="column" data-list-limit="true" data-list-hidden-count="true">
            <div class="bg-gray-2 p--1 text--center" style="border-radius: 8px;">
                <span class="title text--white" style="text-shadow: 2px 0 #000, -2px 0 #000, 0 2px #000, 0 -2px #000, 1px 1px #000, -1px -1px #000, 1px -1px #000, -1px 1px #000;">
                    {{ 'today' | l_word: trmnl.user.locale | capitalize }}
                </span>
            </div>
            {% if today == empty %}
            <div class="flex flex--col h--28 lg:h--80 gap--space-between">
                <span class="title lg:title--large">Time For a Coffee</span>
                <span class="description lg:title--small">No more reminders for today!</span>
                <img class="image hidden lg:block" src="https://github.com/sdjmchattie/trmnl-apple-reminders/blob/main/images/coffee-150-x.png?raw=true">
            </div>
            {% else %}
            {% for item in today %}
            {% liquid
            case item.p
            when "Low"
            assign importance = "! "
            when "Medium"
            assign importance = "!! "
            when "High"
            assign importance = "!!! "
            else
            assign importance = ""
            endcase
            %}
            <div class="item">
                <div class="meta">
                    {% if item.f %}
                    <span class="index">
                    <img class="image" src="https://github.com/sdjmchattie/trmnl-apple-reminders/blob/main/images/icons8-flag-10.png?raw=true">
                    </span>
                    {% endif %}
                </div>
                <div class="content">
                    <span class="title title--small" data-clamp="1">{{ item.n | prepend: importance }}</span>
                    <div class="flex gap--small">
                    {% assign time = item.d | l_date: time_format, trmnl.user.locale %}
                    {% assign midnight = "1980-01-01" | l_date: time_format, trmnl.user.locale %}
                    {% if show_dates_and_times and time != midnight %}
                    <span class="label label--small label--underline">{{ time }}</span>
                    {% endif %}
                    {% if show_list_names %}
                    <span class="label label--small label--underline">{{ item.l }}</span>
                    {% endif %}
                    </div>
                    <span class="description" data-clamp="2" style="word-break: normal;">
                    {% if show_notes %}
                    {{ item.o }}
                    {% endif %}
                    </span>
                    {% if show_tags and item.t != empty %}
                    <div class="flex gap--xsmall mt--1">
                    {% assign tags = item.t | split: ' ' %}
                    {% for tag in tags %}
                        <div class="label label--small label--inverted">#{{ tag }}</div>
                    {% endfor %}
                    </div>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
            {% endif %}
        </div>
        <div class="column {{ upcoming_portrait }}" data-list-limit="true">
            <div class="bg-gray-2 p--1 text--center" style="border-radius: 8px;">
                <span class="title text--white" style="text-shadow: 2px 0 #000, -2px 0 #000, 0 2px #000, 0 -2px #000, 1px 1px #000, -1px -1px #000, 1px -1px #000, -1px 1px #000;">
                    Upcoming
                </span>
            </div>
            {% for item in future %}
            {% liquid
            case item.p
            when "Low"
            assign importance = "! "
            when "Medium"
            assign importance = "!! "
            when "High"
            assign importance = "!!! "
            else
            assign importance = ""
            endcase
            %}
            <div class="item">
                <div class="meta">
                    {% if item.f %}
                    <span class="index">
                    <img class="image" src="https://github.com/sdjmchattie/trmnl-apple-reminders/blob/main/images/icons8-flag-10.png?raw=true">
                    </span>
                    {% endif %}
                </div>
                <div class="content">
                    <span class="title title--small" data-clamp="1">{{ item.n | prepend: importance }}</span>
                    <div class="flex gap--small">
                    {% if show_dates_and_times %}
                    <span class="label label--small label--underline">{{ item.d | l_date: date_format, trmnl.user.locale }}</span>
                    {% endif %}
                    {% if show_list_names %}
                    <span class="label label--small label--underline">{{ item.l }}</span>
                    {% endif %}
                    </div>
                    <span class="description" data-clamp="2" style="word-break: normal;">
                    {% if show_notes %}
                    {{ item.o }}
                    {% endif %}
                    </span>
                    {% if show_tags and item.t != empty %}
                    <div class="flex gap--xsmall mt--1">
                    {% assign tags = item.t | split: ' ' %}
                    {% for tag in tags %}
                        <div class="label label--small label--inverted">#{{ tag }}</div>
                    {% endfor %}
                    </div>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

<div class="title_bar">
    <img class="image" src="https://github.com/sdjmchattie/trmnl-apple-reminders/blob/main/images/icons8-apple-logo-30.png?raw=true">
    <span class="title">{{ trmnl.plugin_settings.instance_name }}</span>
    {% case trmnl.plugin_settings.custom_fields_values.right_label %}
    {% when "attribution" %}
    <span class="instance">by sdjmchattie.github.io</span>
    {% when "your_name" %}
    <span class="instance">{{ trmnl.user.name }}</span>
    {% endcase %}
</div>
